* {
  margin: 0;
  padding: 0;
}
ul {
  margin-left: 1.8em;
  margin-top: 0.8em;
}
#site {
  line-height: 1.5em;
  margin: 1.5em auto 2.5em;
  padding: 0 1.5em;
}
#header {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#footer {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.section {
  margin: 0.8em auto 0.4em;
}
